.study
  +section-bg
  +section-padding
  
  &__flex
    +flex-center
    flex-direction: column
    text-align: center
    
  &__img
    margin-bottom: 20px
    
  &__citation
    +font(size 18px style italic)
    
  &__sign
    +font(size 14px)
    margin-top: 10px
    
  &__strong
    color: $red