- var itemStyle = 'background-image: url('+ imgDir +'study__bg.jpg)';

.study.parallax.overflow(style=itemStyle)
  .container.wow.bounceInRight
    .study__flex
      - var imgSrc = imgDir + 'study__img-1.png';
      img.study__img(src=imgSrc alt='study')
      .study__citation Uczeń nie przewyższa nauczyciela.
        br
        | Lecz każdy, dopiero w pełni wykształcony,
        strong.study__strong  będzie jak jego nauczyciel.
      .study__sign Tekst Ewangelii
        strong.study__strong  (Lc 6,39-42)