.pregallery.overflow
  .container
    .pregallery__title
      include ../title/title-main

    .pregallery__box
      - var imgHref = 'gallery.html';
      - var imgStyle = 'background-image: url('+ imgDir +'pregallery__img-1.jpg)';
      a.pregallery__img.-big.wow.zoomInDown(href=imgHref style=imgStyle)
      - for(var i = 2; i <= 5; i++)
        - var itemDelay = i * 0.3 + 's';
        - var imgStyle = 'background-image: url('+ imgDir +'pregallery__img-'+ i +'.jpg)';
        a.pregallery__img.-small.wow.zoomInDown(href=imgHref style=imgStyle data-wow-delay=itemDelay)

