$pregalleryBoxSpace: 10px

.pregallery
  +section-padding
  
  &__title
    +title-margin
  
  &__box
    +clearfix
    height: 520px
  
  &__img
    float: left
    background-position: center
    background-size: cover
    border-radius: $border-radius
    position: relative
    overflow: hidden
    &:after
      +flex-center
      +font(size 24px weight 300)
      color: $white
      content: '+'
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: transparentize($red, 0.3)
      border-radius: inherit
      transform: translateY(100%)
      transition: 0.5s ease all
      opacity: 0
    &:hover
      &:after
        transform: translateY(0)
        opacity: 1
    
    &.-big
      width: 100%
      height: calc(50% - #{$pregalleryBoxSpace})
      margin-right: $pregalleryBoxSpace*2
      +PHONE_ONLY
        margin-bottom: $pregalleryBoxSpace*2
      +TAB_MIN
        height: 100%
        width: calc(50% - #{$pregalleryBoxSpace})
    
    &.-small
      width: calc(50% - #{$pregalleryBoxSpace})
      height: calc(25% - #{$pregalleryBoxSpace})
      &:nth-child(2)
        margin: 0 $pregalleryBoxSpace*2 $pregalleryBoxSpace*2 0
      &:nth-child(4)
        margin: 0 $pregalleryBoxSpace*2 0 0
      &:nth-child(3), &:nth-child(5)
        margin: 0
      +TAB_MIN
        width: calc(25% - #{$pregalleryBoxSpace*1.5})
        height: calc(50% - #{$pregalleryBoxSpace})
        
      