.header
  background: $creamLight
  padding: 10px 0
  z-index: 100
  
  .container
    position: relative
    display: flex
    align-items: center
    height: 70px
  
  &__relative
    position: relative
    width: 100%
  
  &__panel
    display: flex
    width: 100%
    +PC_MIN
      justify-content: space-between
      align-items: center