.news
  
  &__item
    +clearfix
    position: relative
    margin-bottom: 20px
    
  &__img
    +section-bg
    height: 150px
    width: 100%
    border-radius: $border-radius
    +PC_MIN
      float: left
      width: 25%
    
  &__content
    +TAB_MAX
      padding: 20px
      width: 100%
      text-align: center
    +PC_MIN
      float: left
      width: 75%
      padding: 0 20px
  
  &__contentTitle
    +font(size 24px)
    margin-bottom: 5px
    text-transform: uppercase
    line-height: 1
    color: $red
    
  &__contentText
    +TAB_MAX
      display: none
    
  &__button
    +PC_MIN
      position: absolute
      bottom: 0