.ad
  - for(var i = 1; i <= 2; i++)
    - var itemStyle = 'background-image: url('+ imgDir +'ad__item-'+ i +'.jpg)';
    - var itemDelay = i * 0.3 + 's';
    .ad__item.wow.zoomInDown(style=itemStyle data-wow-delay=itemDelay)
      .ad__title Z życia
        br
        | parafii
      .ad__button
        include ../button/button-main