$adSpace: 40px
$adBoxSpace: 20px

.ad
  margin-top: $adSpace
  display: flex
  align-items: center
  flex-direction: column
  
  &__item
    +flex-center
    +section-bg
    position: relative
    height: 350px
    width: calc(100% - 20px)
    border-radius: $border-radius
    padding: 20px
    margin-bottom: 60px
    margin-left: 20px
    box-shadow: -20px 20px 0 $cream
    &:last-child
      margin-bottom: 20px
  
  &__title
    +font(size 24px weight 700)
    text-transform: uppercase
    color: $white
    text-align: center
    text-shadow: 2px 2px 4px black
  
  &__button
    position: absolute
    bottom: 40px
    left: 50%
    transform: translateX(-50%)