.nav
  position: relative
  display: flex
  z-index: 800
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: white
    display: none
    z-index: 100
    +PC_MIN
      display: none !important
  
  &__button
    +flex-center
    width: 50px
    height: 50px
    font-size: 24px
    position: fixed
    right: 20px
    top: 20px
    background-color: $brown
    color: white
    cursor: pointer
    border-radius: $border-radius
    +PC_MIN
      display: none
  
  &__list
    +clearfix
    text-align: center
    text-transform: uppercase
    border-radius: $border-radius
    padding: 0
    margin: 0
    +TAB_MAX
      position: fixed
      top: 50%
      left: 50%
      display: none
      z-index: 100
      max-height: 90vh
      overflow-y: auto
      transform: translate(-50%, -50%)
      background-color: $cream
    +PC_MIN
      display: block !important
  
  &__item
    display: block
    position: relative
    +PC_MIN
      float: left
      margin-left: 20px
  
  &__link
    display: block
    white-space: nowrap
    color: $brownDark
    &:hover
      text-decoration: none
      color: $red
    &.-active
      color: $red
    +TAB_MAX
      padding: 20px 70px