nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-active(href='index.html') Strona główna
    li.nav__item
      a.nav__link(href='about.html') O parafii
    li.nav__item
      a.nav__link(href='news.html') Aktualności
    li.nav__item
      a.nav__link(href='gallery.html') Galeria
    li.nav__item
      a.nav__link(href='links.html') Linki
    li.nav__item
      a.nav__link(href='offer.html') Przekaż darowiznę
    li.nav__item
      a.nav__link(href='contact.html') Kontakt
