.prenews
  +section-padding
  +section-bg
  
  &__title
    +title-margin
  
  &__flex
    +flex-center
    justify-content: space-between
    +MAX(800px)
      flex-direction: column
  
  &__item
    +flex-center
    flex-direction: column
    max-width: 270px
    padding: 20px
    +MAX(800px)
      margin-bottom: 50px
      &:last-child
        margin-bottom: 0
  
  &__content
    +font(size 14px weight 700)
    text-align: center
  
  &__contentDate
    display: inline-flex
    flex-direction: column
    overflow: hidden
    justify-content: space-between
    height: 65px
    width: 65px
    background: $gold
    color: $white
    text-transform: uppercase
    border-radius: $border-radius
    margin-bottom: 30px
  
  &__contentDay
    +font(size 16px)
    +flex-center
    flex: 1
    background: lighten($gold, 10%)
  
  &__contentMonth
    +font(size 10px)
    padding: 5px
  
  &__contentTitle
    color: $cream
  
  &__contentTime
    margin-top: 10px
    color: $gold
    i
      margin-right: 5px
  
  &__itemButton
    margin-top: 30px
  
  &__button
    margin-top: 30px
    text-align: center
