- var itemStyle = 'background-image: url('+ imgDir +'prenews__bg.jpg)';

.prenews.parallax(style=itemStyle)
  .container
    .prenews__title
      include ../title/title-main

    .prenews__flex
      - for(var i = 1; i <= 3; i++)
        - var itemDelay = i * 0.3 + 's';
        .prenews__item.wow.zoomInUp(data-wow-delay=itemDelay)
          .prenews__content
            .prenews__contentDate
              .prenews__contentDay 10
              .prenews__contentMonth wrze 2016

            .prenews__contentTitle
              +lorem(8)
            .prenews__contentTime
              i.fa.fa-clock-o
              | Niedziela 17:00 - 18:00

          .prenews__itemButton
            include ../button/button-main

    .prenews__button.wow.fadeInUp(data-wow-delay="0.5s")
      include ../button/button-news