aside.aside
  - var asideTab = ['O parafii', 'Duszpasterze', 'Kancelaria'];
  - asideTab.push('Patron parafii', 'Sakramanty', 'Grupy parafialne');
  - asideTab.push('Świetlica dla dzieci', 'Msze święte');
  .aside__nav
    - for(var i = 0; i < asideTab.length; i++)
      a(href='about.html').aside__link #{asideTab[i]}

  .aside__ad
    include ../ad/ad