.aside
  
  &__nav
    background: $red
    padding: 20px 5px
    border-radius: $border-radius
  
  &__link
    display: block
    text-transform: uppercase
    background: $red
    color: $white
    padding: 10px 20px
    position: relative
    z-index: 2
    overflow: hidden
    border-radius: $border-radius
    &:after
      transition: 0.3s ease all
      content: ''
      position: absolute
      left: -105%
      top: 0
      opacity: 0
      width: 100%
      height: 100%
      background: darken($red, 10%)
      z-index: -1
      border-radius: inherit
    &:hover
      text-decoration: none
      &:after
        left: 0
        opacity: 1