body
  +fontLibre
  font-size: 14px
  line-height: 1.5
  color: $gray

*::selection
  background-color: $red
  color: $cream
  
*
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)

main
  background: $white
  margin-bottom: 100px
  +TAB_MIN
    margin-bottom: 70px
    
.container
  +container

.overflow
  overflow: hidden

img
  display: inline-block