.gallery

  .gallery__box
    - for(var i = 1; i <= 12; i++)
      - var number = i % 4 + 1;
      - var imgSrc = imgDir + 'gallery__img-' + number + '.jpg';
      - var thumbStyle = 'background-image: url('+ imgDir + 'gallery__img-' + number + '.jpg)';
        a.gallery__link(title='Some description to change' href=imgSrc data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1" data-facebook-share-url="facebook-share.html" data-twitter-share-url="twitter-share.html" data-googleplus-share-url="googleplus-share.html" data-pinterest-share-url="pinterest-share.html")
          .gallery__thumb(style=thumbStyle)