extends ../layout/body

block headScripts

block content
  include ../components/banner/banner-main
  include ../components/about/about
  include ../components/study/study
  include ../components/info/info
  include ../components/prenews/prenews
  include ../components/pregallery/pregallery
