.about.overflow
  .container.wow.bounceInLeft(data-wow-delay="0.6s")
    .about__flex
      .about__column.-left
        - var imgSrc = 'background-image: url('+ imgDir +'about__img.jpg)';
        .about__img(style=imgSrc)

      .about__column.-right
        .about__title
          include ../title/title-full
        .about__item
          .about__itemTitle
            +lorem(20)
          .about__itemContent
            +lorem(25)
          .about__button
            include ../button/button-about