$socialColumnSpace: 25px

.about
  +section-padding
  
  &__flex
    +flex-center
    justify-content: space-between
    +PHONE_ONLY
      flex-direction: column
  
  &__column
    display: flex
    flex-wrap: wrap
    width: 100%
    +PHONE_ONLY
      &.-left
        padding-bottom: $socialColumnSpace * 2
    +TAB_MIN
      width: 50%
      &.-left
        padding-right: $socialColumnSpace
      &.-right
        padding-left: $socialColumnSpace
  
  &__img
    +flex-center
    background-size: cover
    background-position: center
    height: 270px
    width: 100%
    border-radius: $border-radius
    margin-left: 20px
    margin-bottom: 20px
    box-shadow: -20px 20px 0 $cream
    +TAB_MAX
      margin-bottom: 40px
      &:last-child
        margin-bottom: 20px
        
  &__title
    width: 100%
    
  &__item
    text-align: center
    margin-top: 20px
    
  &__itemTitle
    +font(size 14px weight 700)
    
  &__itemContent
    margin-top: 10px
    
  &__button
    margin-top: 20px
    
    