.banner.-main.overflow
  .banner__arrows

  .banner__slider
    - for(var i = 1; i <= 3; i++)
      - var itemStyle = 'background-image: url('+ imgDir +'banner__item-'+ i +'.jpg)'
      .banner__item(style=itemStyle)
        .banner__pattern
        .container
          .banner__header
            include ../title/title-banner

          .banner__button
            include ../button/button-main
