.banner.-pages.overflow
  - var itemStyle = 'background-image: url('+ imgDir +'banner__item-5.jpg)'
  .banner__item(style=itemStyle)
    .banner__pattern
    .container
      .banner__header
        include ../title/title-banner-pages
