.banner
  position: relative
  z-index: 1
  &:before, &:after
    content: ''
    height: 1px
    background: transparentize($cream, 0.2)
    position: absolute
    left: 0
    width: 100%
    z-index: 100
  &:after
    bottom: 5px
  &:before
    top: 5px
  
  &.-main
    .container
      height: 310px
      +TAB_MIN
        height: 510px
  
  &.-pages
    .container
      height: 220px
  
  &__arrows
    +container-out
    +flex-center
    justify-content: space-between
    position: absolute
    top: 20px
    width: 100%
    z-index: 100
    +PC_MIN
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
  
  &__arrow
    cursor: pointer
  
  &__item
    position: relative
    background-size: cover
    background-position: center
  
  &__pattern
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url('../img/banner__pattern.png')
  
  .container
    +flex-center
    position: relative
  
  &__header
    transition: 0.4s ease all
    transform-origin: top
    &.-hide
      transform: scale(0.6)
      opacity: 0
  
  &__button
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 50px