.button
  +font(size 11px)
  display: inline-flex
  align-items: center
  justify-content: center
  text-transform: uppercase
  height: 34px
  background: $red
  color: $white
  padding: 0 25px
  position: relative
  z-index: 2
  overflow: hidden
  border-radius: $border-radius
  &:after
    transition: 0.3s ease all
    content: ''
    position: absolute
    left: -105%
    top: 0
    opacity: 0
    width: 100%
    height: 100%
    background: darken($red, 10%)
    z-index: -1
    border-radius: inherit
  &:hover
    text-decoration: none
    &:after
      left: 0
      opacity: 1
      
  &.-news
    background: transparent
    color: $gold
    border: 1px solid $gold
    &:after
      background: transparentize($gold, 0.8)
    
  &.-about
    background: $cream
    &:after
      background: darken($cream, 10%)
      
  &.-form
    border: none
    cursor: pointer
    