.title
  +font(weight 400)
  text-align: center
  margin-bottom: 0
  
  &__top
    +font(size 24px)
    display: block
    color: $cream
    text-transform: capitalize
  
  &__accent
    text-transform: uppercase
    color: $red
    
  &__line
    display: block
    border-top: 1px solid transparentize($white, 0.5)
    padding: 1px 0
    border-bottom: 1px solid transparentize($white, 0.5)
  
  &__bottom
    +font(weight 900 size 15px)
    display: block
    position: relative
    color: $red
    &:after, &:before
      content: ''
      height: 1px
      background: $cream
      position: absolute
      bottom: 10px
      left: calc(50% + 15px)
      right: 25%
    &:before
      left: 25%
      right: calc(50% + 15px)
  
  &.-banner
    .title__titleTop, .title__titleBottom
      +font(size 25px style italic)
      padding: 0 20px
      +TAB_MIN
        +font(size 50px)
      +PC_MIN
        +font(size 72px)
    
    .title__titleTop
      +fontScript
      color: #fefefe
    
    .title__titleBottom
      color: $red
      text-transform: uppercase
  
  &.-blog
    text-align: left
    border-bottom: 1px solid darken($cream, 10%)
  
  &.-darken
    .title__bottom
      &:after, &:before
        background: darken($cream, 10%)
    .title__top
      color: $red
    .title__accent
      color: $brown
  
  &.-full
    .title__bottom
      &:before
        left: 0
        right: calc(50% + 15px)
      &:after
        left: calc(50% + 15px)
        right: 0