- var itemStyle = 'background-image: url('+ imgDir +'visit__bg.jpg)';

.visit.overflow.parallax(style=itemStyle)
  .container
    .visit__box
      - var itemStyle = 'background-image: url('+ imgDir +'visit__malnet.jpg)';
      a.visit__item.-malnet.wow.zoomInUp(style=itemStyle href='http://www.mal.net.pl/' target='_blank' data-wow-delay="0.3s")

      - var itemStyle = 'background-image: url('+ imgDir +'visit__book.jpg)';
      .visit__item.-book.wow.zoomInUp(style=itemStyle data-wow-delay="0.6s")
        .visit__itemTitle Księga gości
        .visit__itemButton
          include ../button/button-news

      - var itemStyle = 'background-image: url('+ imgDir +'visit__counter.jpg)';
      .visit__item.-counter.wow.zoomInUp(style=itemStyle data-wow-delay="0.9s")
        .visit__itemTitle Odwiedziny
        .visit__itemContent
          .visit__itemInfo Odsłon razem:
            strong.visit__strong 82109
          .visit__itemInfo Odsłon dzisiaj:
            strong.visit__strong 52
          .visit__itemInfo Odsłon wczoraj:
            strong.visit__strong 283
          .visit__itemInfo Odsłon tygodniowo:
            strong.visit__strong 1745
          .visit__itemInfo Odsłon miesięcznie:
            strong.visit__strong 3291
