$visitBoxSpace: 20px

.visit
  +section-bg
  +section-padding
  
  &__title
    +title-margin
  
  &__box
    display: flex
    +TAB_MAX
      flex-wrap: wrap
      > *
        &:first-child
          margin-bottom: 20px
  
  &__item
    background-position: center
    background-size: cover
    height: 240px
    width: 100%
    border-radius: $border-radius
    display: flex
    justify-content: space-between
    flex-direction: column
    text-align: center
    padding: 20px
    
    &.-malnet
      width: 100%
      +PC_MIN
        width: 50%
    
    &.-book, &.-counter
      width: 100%
      +PHONE_ONLY
        &:last-child
          margin-top: $visitBoxSpace
      +TAB_MIN
        width: calc(50% - #{$visitBoxSpace})
      +PC_MIN
        width: 25%
    
    &.-book
      color: $gold
      +TAB_MIN
        margin-right: $visitBoxSpace / 2
      +PC_MIN
        margin: 0 $visitBoxSpace
    
    &.-counter
      color: $brownDark
      +TAB_MIN
        margin-left: $visitBoxSpace / 2
      +PC_MIN
        margin-left: auto
  
  &__itemTitle
    +font(size 18px)
    text-transform: uppercase
  
  &__itemInfo
    +font(weight 700)
    display: flex
    justify-content: space-between
    margin: 10px 0
    width: 100%
    
  &__strong
    color: $red