.slick
  
  &-slider
   user-select: text

  &-list.draggable
    user-select: none
    
  &__dots
    padding: 0
    margin: 0
    
    li
      display: inline-block
    
  &__dot
    width: 30px
    height: 15px
    background: $red
    border-radius: $border-radius
    margin-right: 10px
    cursor: pointer