.form

  .form__msg.-positive.-hide Wiadomość została wysłana
  .form__msg.-negative.-hide Problem z serwerem

  form.form__content(name='form' action='mail.php' method='POST')
    input.form__input(type='text' name='name' placeholder='Imie i nazwisko *' required='')
    input.form__input(type='email' name='email' placeholder='E-Mail *' pattern=".{1,60}" required='')
    input.form__input(type='text' name='phone' placeholder='Telefon' pattern='[0-9]{9,16}')
    textarea.form__textarea(name='msg' placeholder="Twoja wiadomość")

    include ../button/button-form

