.form
  position: relative
  
  &__msg
    position: absolute
    top: calc(100% - 85px)
    left: 50%
    transform: translate(-50%, 0)
    width: 100%
    padding: 10px 20px
    background: $red
    opacity: 1
    color: $white
    transition: 0.3s ease all
    border-radius: $border-radius
    text-transform: uppercase
    z-index: 2
    text-align: center
    &.-positive
      background: $green
    &.-negative
      background: $red
    &.-hide
      opacity: 0
      transform: translate(-50%, -100%)
      pointer-events: none
  
  &__input, &__textarea
    +font(size 16px)
    display: block
    width: 100%
    background: $cream
    color: $gray
    margin: 10px auto
    padding: 15px 4%
    border: none
    border-radius: 0
    &.-invalid
      background: transparentize($red, 0.8)
    &:focus
      outline: none
      background: darken($cream, 5%)

  &__textarea
    +size(height 90px)
    resize: none
    overflow: auto