$linksSpace: 30px
$linksColumnSpace: 20px

.links
  padding: $linksSpace 0
  
  &__flex
    display: flex
    +TAB_MAX
      flex-direction: column
  
  &__column
    +TAB_MAX
      margin-bottom: 30px
      &:last-child
        margin: 0
    +PC_MIN
      width: 50%
  
  &__columnTitle
    padding-bottom: $linksColumnSpace
  
  &__columnContent
    padding: 0 20px
  
  &__contactBox
    display: flex
    flex-wrap: wrap
  
  &__contactItem
    display: flex
    align-items: center
    width: 100%
    i
      color: $red
    +TAB_MIN
      width: 50%
  
  &__contact
    +font(weight 700)
    margin-left: 15px
  
  &__listItem, &__contact
    color: $brown
    &:hover
      color: $red
      text-decoration: none
  
  &__list
    display: flex
    flex-wrap: wrap
  
  &__listItem
    +font(weight 700)
    width: 100%
    position: relative
    padding-left: 15px
    &:before
      +font(weight 900)
      content: '+'
      color: inherit
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
    +TAB_MIN
      width: 50%
    +PC_MIN
      width: 33%
      