.links.overflow
  .container
    .links__flex
      .links__column.wow.fadeInLeft
        .links__columnTitle
          include ../title/title-full
        .links__columnContent
          .links__contactBox
            .links__contactItem
              i.fa.fa-map-marker
              a(href='tel:777777777').links__contact Some adres

            .links__contactItem
              i.fa.fa-phone
              a(href='tel:501273431').links__contact 501 273 431

            .links__contactItem
              i.fa.fa-envelope-o
              a(href='mailto:mail@mail.com').links__contact janrawa@poczta.fm

      .links__column.wow.fadeInRight
        .links__columnTitle
          include ../title/title-full
        .links__columnContent
          .links__list
            - for(var i = 1; i <= 8; i++)
              a(href='about.html').links__listItem Some long text