#map
  
  &__canvas
    width: 100%
    height: 100px
    +PC_MIN
      height: 200px
  
  &__marker
    padding: 10px
    text-align: center
    position: absolute
    transform: translate(-50%, -50%)
    transition: 0.2s ease all
    color: $red
    &:hover
      text-decoration: none
      transform: translate(-50%, -50%) scale(1.1)
      
  &__icon
    +font(size 38px)
    margin-bottom: 5px
  
  &__text
    +font(size 12px weight 500)
    text-transform: uppercase
    
  .gm-style-cc
    display: none