- var markerSrc = imgDir + 'map__marker.svg';

script.
  var mapLat = 51.941435;
  var mapLng = 20.1409328;
  var mapZoom = 15;

  window.onload = function () {
    map.init(mapLat, mapLng, mapZoom);
  }

#map
  #map__canvas
  a(href='https://www.google.pl/maps/dir/51.941435,20.1409328/@51.941435,20.1409328,15z' target='_blank')#map__marker
    img(src=markerSrc alt='marker')#map__icon.wow.bounceInUp