.blog
  +section-padding
  background: $creamLight
  
  .container
    +clearfix
  
  &__main
    +TAB_MIN
      float: left
      width: 60%
    +PC_MIN
      width: 65%
  
  &__title
    margin-bottom: 40px
  
  &__aside
    +PHONE_ONLY
      padding-top: 20px
    +TAB_MIN
      float: left
      width: 40%
      padding-left: 60px
    +PC_MIN
      width: 35%