.info
  +section-padding
  
  &__flex
    +flex-center
    justify-content: space-between
    +MAX(800px)
      flex-direction: column
  
  &__item
    +flex-center
    position: relative
    background-size: cover
    background-position: center
    height: 350px
    max-width: 270px
    border-radius: $border-radius
    padding: 20px
    margin-left: 20px
    margin-bottom: 20px
    box-shadow: -20px 20px 0 $cream
    +MAX(800px)
      margin-bottom: 40px
      &:last-child
        margin-bottom: 20px
  
  &__title
    +font(size 24px weight 700)
    text-transform: uppercase
    color: $white
    text-align: center
    text-shadow: 2px 2px 4px black
  
  &__button
    position: absolute
    bottom: 40px
    left: 50%
    transform: translateX(-50%)