.info.overflow
  .container
    .info__flex
      - for(var i = 1; i <=3; i++)
        - var itemStyle = 'background-image: url('+ imgDir +'info__item-'+ i +'.jpg)';
        - var itemDelay = i * 0.3 + 's';
        .info__item.wow.zoomInDown(style=itemStyle data-wow-delay=itemDelay)
          .info__title Lorem ipsum dolor
          .info__button
            include ../button/button-main