.social
  .container
    .social__title
      include ../title/title-darken

    .social__box
      .social__column.-icons
        - for(var i = 1; i <= 3; i++)
          - var iconSrc = imgDir +'social__img-'+ i +'.png';
          - var iconDelay = i * 0.3 +'s';
          a.wow.zoomInLeft(href='https://www.youtube.com/' target='_blank' data-wow-delay=iconDelay)
            img.social__icon(src=iconSrc alt='logo')

      .social__column
        - var itemDelay2 = '1.2s';
        .social__info.wow.zoomInLeft(data-wow-delay=itemDelay2)
          a.social__infoItem(href='https://www.facebook.com/' target='_blank') Zapraszamy na profil
            strong.social__strong Marcina Zielińskiego
          a.social__infoItem(href='https://www.facebook.com/' target='_blank') Zapraszamy na fanpage
            strong.social__strong wspólnoty Głos Pana
          a.social__infoItem(href='https://www.facebook.com/' target='_blank')
            - var imgSrc = imgDir +'social__img-4.png';
            img.social__infoImg(src=imgSrc alt='logo')