$socialSpace: 70px
$socialBoxSpace: 15px

.social
  +section-padding
  
  &__title
    +title-margin
  
  &__box
    display: flex
    +MAX(800px)
      flex-direction: column
    
  &__column
    +flex-center
    justify-content: space-around
    +MAX(800px)
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
    +MIN(801px)
      justify-content: space-between
      width: 50%
      &:nth-child(1)
        margin-right: 20px
      &:nth-child(2)
        margin-left: 20px
    &.-icons
      +PHONE_ONLY
        flex-direction: column
      
  &__icon
    +PHONE_ONLY
      margin-bottom: 20px
        
  &__info
    display: flex
    width: 100%
    border: 1px solid darken($cream, 10%)
    border-radius: $border-radius * 2
    
  &__infoItem
    +font(size 12px weight 700)
    +flex-center
    color: $brown
    flex-direction: column
    text-align: center
    flex: 1
    padding: 5px
    border-left: 1px solid darken($cream, 10%)
    &:first-child
      border: none
      
  &__strong
    color: $red