include config

doctype html
html(lang='pl')

  include head

  body

    include ../components/loader/loader
    include ../components/header/header

    main
      block content

      include ../components/visit/visit
      include ../components/social/social
      include ../components/map/map
      include ../components/links/links

    include ../components/footer/footer

    block scripts
      <!-- build:js #{jsLib} -->
      <!-- bower:js -->
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js #{jsProd} -->
      script(src=jsDev)
      <!-- endbuild -->